/*body {
    background-color: #FBF0F6;
}
*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.hero {
    background-size: cover;
    height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}
a {
    color: #000;
    text-decoration: none;
  }


.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

h1, h2, h3 {
    font-family: 'Spline Sans Mono', monospace;
}

span {
    font-size: 10px;
}

h4 {
    font-family: 'Monoton';
    font-size: 10px;
}

a {
    font-family: 'Spline Sans Mono', monospace;
    font-size: 18px;
}


.footer__color__home, 
.footer__color__portfolio {
    background-color:#D3D3D3;
}


/*Portfolio page*/
.navbar-color {
    background-color:#D3D3D3;
}

.border__image {
    border: 1px black solid;
}

.container-custom {
  
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.steps__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}
.steps__content-width {
    max-width: 456px;
    margin: 0 auto;
}
.steps {
    padding: 0 40px;
    background-color: rgb(241, 232, 222);
}
.section-title {
    background-color: rgb(241, 232, 222);

}

.section-title {
   text-align: center;
}

@media (max-width: 768px) {
    .hero {
        min-height: 50vh;
    }

    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
     }

     @media (min-width: 597px) {.container-custom { 
        width: 100%;
        float: left;
     }

   
     
    }
    @media (min-width: 720px) {.container-custom { 
        width: 100%;
        float: left;
     }
    }
    
    
    @media (min-width: 1200px) {.container-custom { 
        width: 100%;
       
     }

     h4, h3 {
         font-size: 28px;
     }
    
    
    
    }
    @media (min-width: 1400px) {.container-custom { 
        width: 100%;
        float: left;
        padding-left: 4rem;
     }

     h4, h3 {
        font-size: 28px;
    }
    }
    @media (min-width: 1600px) {.container-custom { 
        width: 100%;
        float: left;
        padding-left: 4rem;
     }

     h4, h3 {
        font-size: 28px;
    }
    }
    @media (min-width: 544px) {
        .steps {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .steps__section-thumbnail {
            height: auto;
        }
       
     }

     /*About page*/
     
     h3, p {
         padding: 0 2rem;

     }

     .content ul li {
        padding-bottom: 10px;
    }
    .btn-order {
        color: var(--bs-blue);
        transition: 0.8s;
    }
    .btn-order:hover,
    .btn-order:active {
    color: #fff;
   /* background-color: var(--bs-gray) ;*/
    }

    .cc-steps {
        background-color: #fff;
    }

    .cc-section-title {
        background-color: #fff;
 
    }

    .dil-navbar
    .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
    }

    .dil-navbar
    .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color: var(--bs-blue);
    
    }


    
     @media (min-width: 992px) { 
     
        .col-lg-4 {
            width: 33%;
            flex: 0 0 auto;
        }

        .col-lg-6 {
            width: 50%;
            flex: 0 0 auto;
        }
     
    }
  