.hero {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

h1, h2 {
    font-family:'Prata', serif;
}

footer {
    background-color: rgb(217, 210, 200);
}

@media (max-width: 768px) {
    .hero {
        min-height: 50vh;
    }

    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    
}